[submodule "coalesc3"]
	path = coalesc3
	url = https://github.com/CommitteeOfZero/coalesc3
[submodule "RegionalDialect"]
	path = RegionalDialect
	url = https://github.com/CommitteeOfZero/RegionalDialect