# MSVC 2022's MSBuild executable. This is probably already correct.
$msbuild = "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\MsBuild.exe"

# Root of your LanguageBarrier64 repository (https://github.com/CommitteeOfZero/LanguageBarrier64), i.e. where LanguageBarrier.sln is
$languagebarrier_dir = ".\LanguageBarrier64"
# Build configuration. This is probably already correct.
$languagebarrier_configuration = "dinput8-Release"
# Build platform. This is probably already correct.
$languagebarrier_platform = "x64"
# Add things that need to be on your PATH for this build here, e.g. Visual C++ 2022 binary dir, Qt 5.x for MSVC 2019 binary dir, 7-Zip binary dir
$env:path = "C:\Qt\5.15.2\msvc2019\bin;C:\Program Files\Microsoft Visual Studio\2022\Community\VC;C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build;" + $env:path